.offer_bg {
  background-image: linear-gradient(
      360deg,
      hsla(0, 0%, 0%, 0.301) 0%,
      rgba(0, 0, 0, 0.733) 100%
    ),
    url("https://i.ibb.co/N111GfL/young-caucasian-cook-girl-chef-uniform-stands-looks-white-wall-pink-with-copy-space-141793-62773.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
