.offer_bg {
  background-image: linear-gradient(
      360deg,
      hsla(0, 0%, 0%, 0.301) 0%,
      rgba(0, 0, 0, 0.733) 100%
    ),
    url("https://i.ibb.co/rtR7Xz7/offer-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
